html {
    font-family: 'Acme', 'sans-serif';
}
/*head {

}*/

body {
    margin: 2em;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    display: flex;
    justify-content: center;
    padding: 0.25em;
    max-width: 300px;
    max-height: 100px;
}

#pig-end-title-text {
    display: flex;
    justify-content: center;
    margin: 0em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
    padding: 0.25em;
    font-family: 'Acme', sans-serif;
    color: #3BB22A;
    font-size: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 0.1em; 
    border-color: #FF7219;
}

#nav-menu-text-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

#nav-menu-text-list > li {
    display: flex;
    padding: 0em;
    margin: 0.5em;
}

#nav-menu-text-list > li > a {
    text-decoration: none;
    color: #3BB22A;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
}

h3 {
    flex-basis: 100%;
    flex-shrink: 0;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF7219;
}

.section-one {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 3em;
}

.text-sec-one {
    flex-basis: 60%;
    padding: 0.3em;
    font-size: 15px;
    font-family: 'Lora', 'Serif';
}

#img-sec-one {
    max-width: 350px;
    padding: 0.3em;
    border-style: none;
    border-width: 0.08em; 
    border-color: #FF7219;
}

.section-two {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2em;
}

#img-sec-two {
    max-width: 350px;
    padding: 0.3em;
    border-style: none;
    border-width: 0.08em; 
    border-color: #FF7219;
}

.text-sec-two {
    flex-basis: 60%;
    padding: 0.3em;
    font-size: 15px;
    font-family: 'Lora', 'Serif';
}

footer {

}

.main-footer {

}

#img-footer {

}

#address-footer {

}
