html {
    font-family: 'Acme', 'sans-serif';
}
/*head {

}*/

body {
    margin: 2em;
}

#topline {
    display: flex;
    justify-content: row;
}

#logo {
    padding: 0.25em;
    max-width: 300px;
    max-height: 100px;
}

#pig-end {
    display: flex;
    margin: 0em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
    padding: 0.25em;
    font-family: 'Acme', sans-serif;
    color: #1BB575;
    font-size: 50px;
}

nav {
    font-size: 35px;
}

#menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

#menu-list > li {
    padding: 0em;
    margin: 0.5em;
}

#menu-list > li > a {
    text-decoration: none;
    color: #1BB575;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-style: solid;
    border-width: 0.1em; 
    border-color: #B5851B;
}

.section-one {
    display: flex;
    justify-content: center;
}

#text-one {
    display: flex;
    padding: 0.3em;
    font-size: 15px;
    font-family: 'Lora', 'Serif';
}

#img-sec-one {
    max-width: 350px;
    padding: 0.3em;
    border-style: solid;
    border-width: 0.08em; 
    border-color: #B5851B;
}

#h3-sec-one {
    color: #E86E0C;
}


.section-two {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

#img-sec-two {
    max-width: 350px;
    padding: 0.3em;
    border-style: solid;
    border-width: 0.08em; 
    border-color: #B5851B;
}

#h3-sec-two {
    color: #E86E0C;
}

#text-sec-two {
    display: flex;
    padding: 0.3em;
    font-size: 15px;
    font-family: 'Lora', 'Serif';
}

footer {

}

.main-footer {

}

#img-footer {

}

#address-footer {

}
